<section class="address-edit" id="address-edit">
    <div class="container">
        <a href="#" class="address-edit__cancel products__more">Відмінити редагування</a>
        <form action="#">
            <label for="#">
                <p>Місто*</p>
                <input type="text">
            </label>
            <label for="#">
                <p>Вулиця*</p>
                <input type="text">
            </label>
            <label for="#">
                <p>Номер будинку*</p>
                <input type="text">
            </label>
            <label for="#">
                <p>Квартира</p>
                <input type="text">
            </label>
            <label for="#">
                <p>Поштовий індекс</p>
                <input type="text">
            </label>
            <label for="#">
                <p>Відділення Нової пошти</p>
                <input type="text">
            </label>
        </form>
        <div class="address-edit__bttn">
            <a href="#" class="bttn">Додати адресу</a>
        </div>
    </div>
</section>