<section class="address" id="address">
    <div class="container">
        <div class="address__item">
            <div class="address__item-info">
                <h5>М. Київ, вул. Ярославский провулок, 4</h5>
                <h5>02000</h5>
            </div>
            <a href="address-edit.html" class="products__more">Редагувати адресу</a>
        </div>
        <div class="address__item">
            <div class="address__item-info">
                <h5>М. Київ, вул. Ярославский провулок, 4</h5>
                <h5>02000</h5>
            </div>
            <a href="address-edit.html" class="products__more">Редагувати адресу</a>
        </div>
        <div class="address__item">
            <div class="address__item-info">
                <h5>М. Київ, вул. Ярославский провулок, 4</h5>
                <h5>02000</h5>
            </div>
            <a href="address-edit.html" class="products__more">Редагувати адресу</a>
        </div>
    </div>
</section>