<section class="banner reg" id="banner reg">
	<div class="container">
		<div class="breadcrumbs"><a href="#">Акаунт користувача</a> <span>/</span> <span class="current">Створити
				акаунт</span>
		</div>
		<div class="reg__wrap">
			<form action="#">
				<h5>Створити акаунт</h5>
				<div class="reg__input reg__input-row">
					<label>
						<p>Ім’я *</p>
						<input type="text" required>
					</label>
					<label>
						<p>Прізвище *</p>
						<input type="text" required>
					</label>
				</div>
				<div class="reg__input reg__input-row">
					<label>
						<p>Email *</p>
						<input type="email" required>
					</label>
					<label>
						<p>Телефон*</p>
						<input type="text" placeholder="Номер *" required id="phone">
					</label>
				</div>
				<div class="reg__input reg__input-row">
					<label>
						<p>Введіть адресу для доставки *</p>
						<input type="email" required>
					</label>
					<label>
						<p>Найближче відділення Нової Пошти</p>
						<input type="text" required>
					</label>
				</div>
				<div class="reg__input reg__input-row">
					<label>
						<p>Пароль *</p>
						<input type="email" required>
					</label>
					<label>
						<p>Повторіть пароль *</p>
						<input type="text" placeholder="Номер *" required>
					</label>
				</div>
				<button class="bttn">Реєстрація</button>
				<div class="reg__footer">
					<a href="#">Уже маю акаунт</a>
					<p>Створюючи обліковий запис, ви погоджуєтеся з нашими Умовами використання та погоджуєтеся з
						політикою обробки даних Політики конфіденційності Paletto.</p>
				</div>
			</form>
		</div>
	</div>
	<div class="banner__bg" style="background-image: url('@img/cover/reg.png');"></div>
</section>