<section class="banner" id="banner">
	<div class="banner-slider">
		<div class="slider__slider swiper-wrapper">
			<div class="swiper-slide banner__slide">
				<div class="banner__slide-wrap container">
					<h3>Новинка: SPF 50</h3>
					<p>Сонцезахисні засоби для обличчя + тіла</p>
				</div>
			</div>

			<div class="swiper-slide banner__slide">
				<div class="banner__slide-wrap container">
					<h3>Новинка: SPF 50 2</h3>
					<p>Сонцезахисні засоби для обличчя + тіла 2</p>
				</div>
			</div>

			<div class="swiper-slide banner__slide">
				<div class="banner__slide-wrap container">
					<h3>Новинка: SPF 50 3</h3>
					<p>Сонцезахисні засоби для обличчя + тіла</p>
				</div>
			</div>

			<div class="swiper-slide banner__slide">
				<div class="banner__slide-wrap container">
					<h3>Новинка: SPF 50 4</h3>
					<p>Сонцезахисні засоби для обличчя + тіла</p>
				</div>
			</div>
		</div>
	</div>
	<div class="banner-pagination"></div>
	<div class="banner__bg" style="background-image: url('@img/cover/front/bg.png');"></div>
</section>