<section class="category__products" id="category-products">
    <div class="container">
        <div class="best__wrap products__wrap products__wrap-category">
            <!-- prettier-ignore -->
            <div class="category__products-descr">
                <p>Найулюбленіший догляд за обличчям, тілом, руками та волоссям наших клієнтів. Як і всі продукти
                    Paletto, ці бестселери були розроблені без подразнюючих
                    парабенів, феноксіетанолу, парафінової олії та сульфатів.</p>
            </div>
            @@include('./product/item.html', {"img": "0", "title": "title" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "1", "title": "title 2" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "9", "title": "title Hydrolate" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "3", "title": "title 4" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "4", "title": "title 5" , "price": "from 29,50 €"})

            <a href="single-blog.html" class="category__products-blog category__blog">
                <div class="category__blog-img"><img src="img/category/blog.png" alt="category blog image"></div>
                <div class="category__blog-content">
                    <h5>Три кроки до сяючої шкіри</h5>
                    <div class="products__more">Тут</div>
                </div>
            </a>
        </div>
        <div class="category__wrap ">
            @@include('./product/item.html', {"img": "0", "title": "title" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "1", "title": "title 2" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "9", "title": "title Hydrolate" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "3", "title": "title 4" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "4", "title": "title 5" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "0", "title": "title" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "1", "title": "title 2" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "9", "title": "title Hydrolate" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "3", "title": "title 4" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "4", "title": "title 5" , "price": "from 29,50 €"})
        </div>
    </div>
</section>