<section class="category__products" id="category-products">
    <div class="container">

        <div class="category__wrap ">
            @@include('./product/item.html', {"img": "0", "title": "title" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "1", "title": "title 2" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "9", "title": "title Hydrolate" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "3", "title": "title 4" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "4", "title": "title 5" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "0", "title": "title" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "1", "title": "title 2" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "9", "title": "title Hydrolate" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "3", "title": "title 4" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "4", "title": "title 5" , "price": "from 29,50 €"})
        </div>


    </div>
</section>