<!-- <section class="find" id="find">
    <div class="container">
        <ul class="find__list">
            <li class="find__list-item">
                <h5>Для</h5>
                <div class="find__select">
                    <select>
                        <option data-display="обличчя">обличчя</option>
                        <option value="1">1 Option</option>
                        <option value="2">2 Option</option>
                        <option value="3">3 Option</option>
                        <option value="4">4 Option</option>
                    </select>
                </div>
            </li>
            <li class="find__list-item">
                <h5>Шукаю</h5>
                <div class="find__select">
                    <select>
                        <option data-display="будь-який засіб">будь-який засіб</option>
                        <option value="1">1 Option</option>
                        <option value="2">2 Option</option>
                        <option value="3">3 Option</option>
                        <option value="4">4 Option</option>
                    </select>
                </div>
            </li>
            <li class="find__list-item">
                <h5>націлений на</h5>
                <div class="find__select">
                    <select>
                        <option data-display="будь-що">будь-що</option>
                        <option value="1">1 Option</option>
                        <option value="2">2 Option</option>
                        <option value="3">3 Option</option>
                        <option value="4">4 Option</option>
                    </select>
                </div>
            </li>
        </ul>
        <a href="#" class="find__bttn bttn bttn--width">Знайти</a>
    </div>
</section> -->