<section class="menu" id="menu">
    <div class="container">
        <nav class="menu__list">
            <ul>
                <li class="menu__items-1"><a href="#" class="active">Усі товари</a></li>
                <li class="menu__items-2"><a href="#">Догляд за обличчям</a></li>
                <li class="menu__items-3"><a href="#">Старіння шкіри</a></li>
                <li class="menu__items-4"><a href="#">Догляд за тілом і волоссям</a></li>
                <li class="menu__items-5"><a href="#">Цільова Дія</a></li>
            </ul>
        </nav>
        <div class="menu__items menu__items-1" style="display: flex;">
            <ul class="menu__item-list" data-da=".menu__items-1, 1200, 2">
                <li><a href="#">Bestsellers</a></li>
                <li><a href="#">Новинки</a></li>
                <li><a href="#">Подарункові набори</a></li>
                <li><a href="#">Дуо, Тріо та Набори</a></li>
                <li><a href="#">Останній шанс</a></li>
                <li><a href="#">Аксесуари</a></li>
            </ul>
        </div>
        <div class="menu__items menu__items-2">
            <ul class="menu__item-list" data-da=".menu__items-2, 1200, 2">
                <li><a href="#">Сироватки для лиця</a></li>
                <li><a href="#">Зволожуючі засоби</a></li>
                <li><a href="#">Нічний догляд</a></li>
                <li><a href="#">Тонований догляд</a></li>
                <li><a href="#">Засоби для зняття макіяжу та очищення</a></li>
                <li><a href="#">Догляд за контуром очей</a></li>
                <li><a href="#">Догляд за губами</a></li>
                <li><a href="#">Догляд після сонця і автозагар</a></li>
                <li><a href="#">Тоніки та гідролати</a></li>
                <li><a href="#">Маски і скраби</a></li>
                <li><a href="#">Мило для обличчя</a></li>
            </ul>
        </div>
        <div class="menu__items menu__items-3">
            <ul class="menu__item-list" data-da=".menu__items-3, 1200, 2">
                <li><a href="#">Запобігання ознакам старіння</a></li>
                <li><a href="#">Перші ознаки старіння</a></li>
                <li><a href="#">Прогресивні ознаки старіння</a></li>
            </ul>
        </div>
        <div class="menu__items menu__items-4">
            <ul class="menu__item-list" data-da=".menu__items-4, 1200, 2">
                <li><a href="#">Догляд за шкірою голови</a></li>
                <li><a href="#">Активовані шампуні</a></li>
                <li><a href="#">Зволожуючі засоби та скраби для тіла</a></li>
                <li><a href="#">Догляд за руками та нігтями</a></li>
                <li><a href="#">Сонцезахисні засоби та автозагар</a></li>
                <li><a href="#">Для душу</a></li>
                <li><a href="#">Дезодоранти</a></li>
            </ul>
        </div>
        <div class="menu__items menu__items-5">
            <ul class="menu__item-list" data-da=".menu__items-5, 1200, 2">
                <li><a href="#">Догляд за шкірою голови</a></li>
                <li><a href="#">Активовані шампуні</a></li>
                <li><a href="#">Зволожуючі засоби та скраби для тіла</a></li>
                <li><a href="#">Догляд за руками та нігтями</a></li>
                <li><a href="#">Сонцезахисні засоби та автозагар</a></li>
                <li><a href="#">Для душу</a></li>
                <li><a href="#">Дезодоранти</a></li>
            </ul>
        </div>

    </div>
</section>