<section class="new" id="new">
    <div class="container">
        <h2>Нові надходження</h2>
        <div class="new__wrap grid-3">
            @@include('./product/item.html', {"img": "1", "title": "title 2" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "2", "title": "title 2" , "price": "from 29,50 €"})
            @@include('./product/item.html', {"img": "3", "title": "title 2" , "price": "from 29,50 €"})
        </div>
        <a href="#" class="products__more">Переглянути всі</a>
    </div>
</section>