<section class="offer offer-1" id="offer">
    <div class="container">
        <div class="offer__wrap flex-2">
            <div class="offer__content">
                <h2>Тонований <br> догляд</h2>
                <div class="text">
                    <p>Де догляд за шкірою поєднується з кольором. Наші відтінкові засоби догляду
                        поєднують активні інгредієнти, такі як гіалуронова кислота, з
                        натуральними пігментами для довготривалого догляду за шкірою
                        та миттєвого покращення кольору.</p>
                    <p>Усі наші тоновані засоби для догляду за шкірою є веганськими, <br> виготовленими у Франції та
                        підходять для кожного типу шкіри.</p>
                </div>
            </div>
            <div class="offer__products">
                <div class="grid-2">
                    @@include('./product/item.html', {"img": "1", "title": "title 2" , "price": "from 29,50 €"})
                    @@include('./product/item.html', {"img": "2", "title": "title 3" , "price": "from 29,50 €"})
                    @@include('./product/item.html', {"img": "3", "title": "title 4" , "price": "from 29,50 €"})
                    @@include('./product/item.html', {"img": "4", "title": "title 5" , "price": "from 29,50 €"})
                </div>
                <a href="#" class="offer__more products__more">Переглянути всі</a>
            </div>
        </div>
    </div>
</section>