<div class="related">
    <div class="container">
        <h2>Вам сподобається</h2>
        <div class="related__wrap">
            <div class="swiper-button-prev related-button related-button-prev"><img src="img/icons/slide_prev.svg"
                    alt="prev"></div>
            <div class="swiper-button-next related-button related-button-next"><img src="img/icons/slide_next.svg"
                    alt="next"></div>
            <div class="related__slider swiper">

                <div class="slider__slider swiper-wrapper">
                    <div class="swiper-slide related__slide">
                        @@include('./product/item.html', {"img": "0", "title": "title0" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide related__slide">
                        @@include('./product/item.html', {"img": "0", "title": "title1" , "price": "from 229,50 €"})
                    </div>
                    <div class="swiper-slide related__slide">
                        @@include('./product/item.html', {"img": "0", "title": "title2" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide related__slide">
                        @@include('./product/item.html', {"img": "0", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide related__slide">
                        @@include('./product/item.html', {"img": "0", "title": "title4" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide related__slide">
                        @@include('./product/item.html', {"img": "0", "title": "title5" , "price": "from 29,50 €"})
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>