<section class="search" id="search">
    <header class="search__header">
        <div class="container">
            <form action="#">
                <input type="text" placeholder="Пошук" id="search__input">
                <div class="search__remove">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17" height="33" viewBox="0 0 17 33" fill="none">
                        <path d="M1.97754 21.3412L13.2912 10.0275L14.4226 11.1588L3.10891 22.4726L1.97754 21.3412Z"
                            fill="black" />
                        <path d="M3.10891 10.0275L14.4226 21.3412L13.2912 22.4726L1.97754 11.1588L3.10891 10.0275Z"
                            fill="black" />
                    </svg>
                </div>
            </form>
        </div>
    </header>
    <div class="container">
        <h4>Товари</h4>
        <div class="search__wrap">
            <div class="swiper-button-prev search-button search-products-prev"><img src="img/icons/slide_prev.svg"
                    alt="prev"></div>
            <div class="swiper-button-next search-button search-products-next"><img src="img/icons/slide_next.svg"
                    alt="next"></div>
            <div class="search__products-slider swiper search__slider">
                <div class="slider__slider swiper-wrapper">
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "0", "title": "title0" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "1", "title": "title1" , "price": "from 229,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "2", "title": "title2" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "4", "title": "title4" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "5", "title": "title5" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "1", "title": "title1" , "price": "from 229,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "2", "title": "title2" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "4", "title": "title4" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "5", "title": "title5" , "price": "from 29,50 €"})
                    </div>
                </div>
            </div>
        </div>
        <h4>Статті</h4>
        <div class="search__wrap">
            <div class="swiper-button-prev search-button search-posts-prev"><img src="img/icons/slide_prev.svg"
                    alt="prev"></div>
            <div class="swiper-button-next search-button search-posts-next"><img src="img/icons/slide_next.svg"
                    alt="next"></div>
            <div class="search__posts-slider swiper search__slider">
                <div class="slider__slider swiper-wrapper">
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "1", "title": "title0" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "5", "title": "title1" , "price": "from 229,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "2", "title": "title2" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "6", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "1", "title": "title1" , "price": "from 229,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "2", "title": "title2" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "4", "title": "title4" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "5", "title": "title5" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "5", "title": "title1" , "price": "from 229,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "2", "title": "title2" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "6", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "7", "title": "title4" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "5", "title": "title5" , "price": "from 29,50 €"})
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>