<section class="search" id="search">
    <div class="container">
        <h4>Товари</h4>
        <div class="search__wrap">
            <div class="swiper-button-prev search-button search-products-prev"><img src="img/icons/slide_prev.svg"
                    alt="prev"></div>
            <div class="swiper-button-next search-button search-products-next"><img src="img/icons/slide_next.svg"
                    alt="next"></div>
            <div class="search__products-slider swiper search__slider">
                <div class="slider__slider swiper-wrapper">
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "0", "title": "title0" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "1", "title": "title1" , "price": "from 229,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "2", "title": "title2" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "4", "title": "title4" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "5", "title": "title5" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "1", "title": "title1" , "price": "from 229,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "2", "title": "title2" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "4", "title": "title4" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "5", "title": "title5" , "price": "from 29,50 €"})
                    </div>
                </div>
            </div>
        </div>
        <h4>Статті</h4>
        <div class="search__wrap">
            <div class="swiper-button-prev search-button search-posts-prev"><img src="img/icons/slide_prev.svg"
                    alt="prev"></div>
            <div class="swiper-button-next search-button search-posts-next"><img src="img/icons/slide_next.svg"
                    alt="next"></div>
            <div class="search__posts-slider swiper search__slider">
                <div class="slider__slider swiper-wrapper">
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "1", "title": "title0" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "5", "title": "title1" , "price": "from 229,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "2", "title": "title2" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "6", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "1", "title": "title1" , "price": "from 229,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "2", "title": "title2" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "3", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "4", "title": "title4" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "5", "title": "title5" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "5", "title": "title1" , "price": "from 229,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "2", "title": "title2" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "6", "title": "title3" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "7", "title": "title4" , "price": "from 29,50 €"})
                    </div>
                    <div class="swiper-slide search__slide">
                        @@include('./product/item.html', {"img": "5", "title": "title5" , "price": "from 29,50 €"})
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>