@import '../core';

h1,
h2,
h3,
h4,
h5,
p,
span,
div,
a,
li,
textarea,
input,
button,
input::placeholder,
textarea::placeholder {
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    color: inherit;
}
a {
    text-decoration: none;
}

span {
    font-size: inherit;
}

h1 {
    font-size: 3.2rem;
    line-height: 1.1;

    @include minw($mob) {
        font-size: calc(3.2rem + 8 * (100vw - 375px) / 625);
    }

    @include minw($sm-pc) {
        font-size: 5.6rem;
    }
}

.title {
    &--category {
        text-transform: uppercase;
        font-size: 3.4rem;
        line-height: 100%;

        @include minw($mob) {
            font-size: calc(6rem + 8 * (100vw - 375px) / 625);
        }

        @include minw($sm-pc) {
            font-size: 9rem;
        }
    }
    &--big {
        text-transform: uppercase;
        font-size: 3.4rem;
        line-height: 1;

        @include minw($mob) {
            font-size: calc(6rem + 8 * (100vw - 375px) / 625);
        }

        @include minw($sm-pc) {
            font-size: 11.4rem;
            line-height: 12rem;
        }
    }
}

h2 {
    font-size: 3.4rem;
    text-transform: uppercase;
    line-height: 100%;

    @include minw($mob) {
        font-size: calc(7rem + 8 * (100vw - 375px) / 625);
    }

    @include minw($sm-pc) {
        font-size: 8.6rem;
    }
}

h3 {
    text-transform: uppercase;
    font-size: 3.2rem;
    line-height: 3.2rem;

    @include minw($mob) {
        font-size: calc(4rem + 4 * (100vw - 375px) / 625);
    }

    @include minw($sm-pc) {
        font-size: 6.1rem;
        line-height: 6.4rem;
    }
}

h4 {
    font-size: 3.4rem;
    line-height: 100%;

    @include minw($mob) {
        font-size: calc(5rem + 4 * (100vw - 375px) / 625);
    }

    @include minw($sm-pc) {
        font-size: 5.5rem;
        line-height: 110%;
    }
}

h5 {
    font-size: 2rem;
    line-height: 3.5rem;

    @include minw($mob) {
        font-size: calc(2rem + 4 * (100vw - 375px) / 625);
    }

    @include minw($sm-pc) {
        font-size: 2.6rem;
    }
}

h6 {
    font-size: 1.4rem;
    line-height: 125%;
}

p {
    font-size: 1.3rem;
    line-height: 130%;

    @include minw($sm-pc) {
        font-size: 1.4rem;
        line-height: 170%;
    }
}

form label {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.2rem;
    color: #080520;
    text-align: left;
}

input,
textarea {
    background: #fff;
    border: 1px solid rgba(93, 95, 239, 0.2);
    border-radius: 1.6rem;
    padding: 2rem 1.8rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #080520;
    font-family: inherit;
}

input {
    border: 0.5px solid $grayLight;
    padding: 1.3rem 1.7rem;
    padding-right: 4.5rem;
    border-radius: 0;
    font-size: 1.3rem;
    width: 100%;
}
