@import '../core';

.account {
    background: $white;
    &__wrap {
        display: flex;
        width: 59.4rem;
        max-width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
        gap: 3rem;
        @include maxw($mob) {
            gap: 2rem;
        }
    }
    &__item {
        flex: 1 1 calc(50% - 3rem);
        padding: 2.8rem;
        text-align: center;
        width: 100%;
        height: auto;
        background: $grayAccount;
        transition: all 0.2s ease;
        &-img {
            margin-bottom: 2rem;
        }
        &:hover {
            background: $grayLight;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }
        @include maxw($mob) {
            flex: 100%;
            max-width: 80%;
            margin: 0 auto;
        }
    }
    &__bttn {
        margin-top: 3rem;
        flex: 1;
    }
}
