@import '../core';

.address {
    &__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        background: $grayAccount;
        padding: 3rem;
        padding-left: 6rem;
        transition: all 0.2s ease;
        &:hover {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }
        & + & {
            margin-top: 0.5rem;
        }
        &-info {
            h5 + h5 {
                margin-top: 1rem;
            }
        }
        a {
            font-size: 1.6rem;
            white-space: nowrap;
            margin-top: 0;
        }
        @include maxw($tablet) {
            padding: 2rem;
            padding-left: 2rem;
            flex-direction: column;
            align-items: start;
        }
    }
    &-edit {
        .container {
            display: flex;
            flex-direction: column;
        }
        &__cancel {
            margin-top: 0;
        }
        form {
            background: $grayAccount;
            padding: 3rem;
            display: inline-flex;
            justify-content: center;
            gap: 2rem 3rem;
            flex-wrap: wrap;
            margin-top: 1rem;
            input {
                &:hover,
                &:focus {
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
                }
            }
            @include maxw($tablet) {
                max-width: 43.7rem;
                align-items: center;
                margin: 1rem auto 0;
            }
            @include maxw($mob) {
                gap: 1rem;
                padding: 1.5rem;
            }
            label {
                flex: calc(50% - 3rem);
                @include maxw($tablet) {
                    flex: 100%;
                }
                p {
                    margin-bottom: 1rem;
                }
                input {
                    font-size: 2rem;
                }
            }
        }
        &__bttn {
            margin-top: 3rem;
            text-align: center;
            @include maxw($mob) {
                margin-top: 1rem;
            }
            .bttn {
                width: 43.7rem;
            }
        }
    }
    &__remove {
        font-family: 'Product Sans Infanity', sans-serif;
        font-size: 1.6rem;
        display: flex;
        align-items: center;
        line-height: normal;
        gap: 0.3rem;
        text-transform: uppercase;
        @include maxw($tablet) {
            margin-left: auto;
        }
        &::before {
            content: '';
            display: flex;
            align-items: center;
            justify-content: center;
            width: 2rem;
            height: 2rem;
            background-size: cover;
            background-image: url(../img/icons/address_remove.svg);
            background-repeat: no-repeat;
        }
    }
}
