@import '../core';

.banner {
    height: 100vh;
    display: flex;
    align-items: center;
    max-height: 97rem;

    @include maxw($mob) {
        height: 43rem;
        padding-top: 2.4rem;
        padding-bottom: 0;
    }
    @include minw($sm-pc) {
        min-height: 96.4rem;
    }
    &__wrap {
        height: 100%;
        p {
            font-size: 1.8rem;
            line-height: 2.5rem;
            text-transform: uppercase;
            @include maxw($mob) {
                font-size: 1.4rem;
                line-height: 1.75rem;
                margin-top: 0.7rem;
            }
        }
    }
    &-slider {
        height: 100%;
        width: 100%;
        .swiper-wrapper {
            width: 100%;
            height: 100%;
        }
    }
    &-pagination {
        position: absolute;
        display: flex;
        align-items: center;
        gap: 0.8rem;
        right: 6.1rem;
        bottom: 3rem;
        transition: all 0.2s ease;
        span {
            cursor: pointer;
            color: $grayDark;
            opacity: 1;
            font-size: 1.3rem;
            transition: all 0.2s ease;
            &.swiper-pagination-bullet-active {
                color: $gray;
            }
            &:not(.swiper-pagination-bullet-active):hover {
                color: $gray;
            }
        }
        @include maxw($mob) {
            right: unset;
            left: 50%;
            transform: translateX(-50%);
            justify-content: center;
        }
    }
    &__slide {
        height: 100%;
        display: flex;
        align-items: center;
        @include maxw($mob) {
            align-items: start;
            text-align: center;
        }
    }
    &__bg {
        position: absolute;
        top: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
        @include maxw($mob) {
            background-position: 50% 0;
        }
    }
    &-2 {
        height: 100%;
        min-height: 44.2rem;
        max-height: 51.2rem;
        .banner__wrap {
            z-index: 2;
        }
        @include maxw($tablet) {
            background-color: $white;
        }
        @include maxw($mob) {
            min-height: 20rem;
            max-height: 20rem;
        }
    }
    &-2 &__bg {
        @include maxw($tablet) {
            background-size: 100%;
            background-position: right;
            z-index: 1;
        }
    }
}

.breadcrumbs {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 0.9rem;
    a,
    span {
        font-size: 1.2rem;
    }
    a {
        transition: all 0.2s ease;
        &:hover {
            color: $gray;
        }
    }
}
