@import '../core';

.new {
    &__wrap {
        margin-top: 9rem;
        @include maxw($sm-pc) {
            margin-top: 3rem;
        }
        .product__item:last-child {
            @include maxw($sm-pc) {
                width: 100%;
                img {
                    max-height: 45rem;
                }
            }
        }
    }
}
