@import '../core';

.swiper-pagination-bullets {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    transition: all 0.2s ease;
    span {
        cursor: pointer;
        color: $grayDark;
        opacity: 1;
        font-size: 1.3rem;
        transition: all 0.2s ease;
        &.swiper-pagination-bullet-active {
            color: $gray;
        }
        &:not(.swiper-pagination-bullet-active):hover {
            color: $gray;
        }
    }
}

.swiper-button-prev,
.swiper-button-next {
    width: 6.8rem;
    height: 6.8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
    transition: all 0.2s ease;
    cursor: pointer;

    &.swiper-button-disabled {
        display: none;
    }
    @media (any-hover: hover) {
        &:hover {
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
        }
    }
    @include maxw($mob) {
        background: inherit;
        &:hover {
            box-shadow: none;
        }
    }
}

.swiper-button-next {
    right: 0;
}
