</main>

<footer class="footer">
	<div class="container">
		<div class="footer__header">
			<h5 class="footer__title">Ми досліджуємо правильні інгредієнти для кожного типу шкіри. Наші формули прості,
				концентровані та
				виготовлені у Франції.</h5>
		</div>
		<div class="footer__user">
			<nav class="footer__menu">
				<div class="footer__menu-item">
					<h6 class="footer__menu-title">Допомога</h6>
					<ul>
						<li><a href="#">Доставка та повернення</a></li>
						<li><a href="#">Політика конфіденційності</a></li>
					</ul>
				</div>
				<div class="footer__menu-info">
					<ul>
						<li>
							<h6><img src="img/icons/delivery.svg" alt="delivery">Безкоштовна доставка від 50€</h6>
						</li>
						<li>
							<h6><img src="img/icons/gift.svg" alt="delivery">Подарунки від 75€</h6>
						</li>
						<li>
							<h6><img src="img/icons/delivery.svg" alt="delivery">Відправлення з Франції</h6>
						</li>
					</ul>
				</div>
			</nav>
			<div class="footer__form">
				<h6 class="footer__form-title">Розсилка</h6>
				<form action="#">
					<input type="mail" required placeholder="Введіть Email">
					<button><img src="img/icons/more.svg" alt="Submit form"></button>
				</form>
				<p>Так, я хочу отримувати розсилку від Paletto та розумію, що мої дані не будуть передані третім
					особам.</p>
			</div>
		</div>
		<div class="footer__info">
			<div class="footer__info-content">
				<p>Продукти Paletto не містять парабенів, феноксіетанолу, парафінової олії та сульфатів.</p>
				<p>Ознайомтеся з нашим повним чорним списком інгредієнтів тут</p>
				<a href="#">Слідкуйте за PaletTo <img src="img/icons/instagram.svg" alt="instagram"></a>
			</div>
		</div>
	</div>
</footer>

<!-- @@include('../example/popup.html') -->

<script src="js/libs/jquery-3.6.0.min.js"></script>
<script src="js/libs/gsap.js"></script>
<script src="js/libs/ScrollMagic.js"></script>
<script src="js/libs/ScrollTrigger.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
	integrity="sha512-NqYds8su6jivy1/WLoW8x1tZMRD7/1ZfhWG/jcRQLOzV1k1rIODCpMgoBnar5QXshKJGV7vi0LXLNXPoFsM5Zg=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script type="module" src="js/app.js"></script>


</body>

</html>